* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.logo-area {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.logo {
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.body {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    background-color: #7005c8;
}

.slogan {
    display: flex;
    flex: 5;
    font-size: 40px;
    padding: 20px;
    color: white;
}

.form {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: black 4px 4px 4px;
}

.form-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: black 4px 4px 4px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.form-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.entrar {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
    width: 100%;
    font-weight: bold;
}

input {
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: medium;
}

.novoUsuario {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top: solid 1px gray;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 40%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid black;
    font-weight: bold;
    font-size: medium;
    background-color: black;
    color: white;
    box-shadow: black 2px 2px 2px;
}

a {
    text-decoration: none;
}

.purple {
    background-color: #7005c8;
}


/*
homepage css
*/

.area-esquerda {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    height: 100%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: black 4px 4px 4px;
}

.profile-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: white 4px 4px 4px;
}

.profile-name {
    color: white;
}

.post-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}

.feed-area {
    display: flex;
    flex: 5;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 40px;
    margin-left: 50px;
    border-radius: 25px;
    box-shadow: black 4px 4px 4px;
}

.post-model {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    border-top: gray 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.post-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.post-content {
    margin-top: 5px;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgb(208, 208, 208);
    border: 1px solid rgb(208, 208, 208);
    border-radius: 25px;
}